.our-footprint{
  margin-top: 10rem;
}

.footprint {
  color: #6ba6ff;
  font-family: "Blinker";
  text-align: center;
}
.passionate {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  color: #fafbfb;
  font-family: "Blinker";
  text-align: center;
  font-size: 68px;
  line-height: 70px;
}
